/* Navigation bar */

nav {
  display: flex;
  background-color: rgba(79, 79, 236, 0.836);
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
  flex-direction: row;
  color: white;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-center {
  margin: 0 25% 0 25%;
}
